<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome to our Movie Store - BlueRay or Pay-per-view</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />
        <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
        <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>        
    </head>    
    <body>
        <ion-app>
            <ion-grid>
                <ion-row>
                    <ion-col>Title</ion-col>
                    <ion-col>Plot sumary</ion-col>
                    <ion-col>Released date</ion-col>
                    <ion-col>Main actors</ion-col>
                    <ion-col>Directors</ion-col>
                    <ion-col></ion-col>
                    <ion-col></ion-col>
                </ion-row>
                {% for movie in data %}
                <ion-row>
                    <ion-col>{{movie.title}}</ion-col>
                    <ion-col>{{movie.plotsumary}}</ion-col>
                    <ion-col>{{movie.releaseddate}}</ion-col>
                    <ion-col>{{movie.mainactors}}</ion-col>
                    <ion-col>{{movie.directors}}</ion-col>
                    <ion-col><a href="/update_movie/{{ movie.id }}">Update</a></ion-col>
                    <ion-col><a href="/delete_movie/{{ movie.id }}">Delete</a></ion-col>
                </ion-row>
                {% endfor %}
            </ion-grid>            
        </ion-app>                
    </body>
</html>