<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Update Movie</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>       
        <script>
            function validateUpdate() {
                let tit = document.forms[0]["title"].value;
                let release = document.forms[0]["releaseddate"].value;
                let actors = document.forms[0]["mainactors"].value;
                let direct = document.forms[0]["directors"].value;
                let plot = document.forms[0]["plotsumary"].value;
                
                if (plot == "") {
                    alert("Plot is required. Please, verify.");
                    return false;
                }

                if (direct == "") {
                    alert("Directors is required. Please, verify.");
                    return false;
                }

                if (actors == "") {
                    alert("Actors is required. Please, verify.");
                    return false;
                }

                if (release == "") {
                    alert("Release date is required. Please, verify.");
                    return false;
                }

                if (tit == "") {
                    alert("Title is required. Please, verify.");
                    return false;
                }

                return true;
            }
        </script>
    </head>    
    <body>
        <form action="/update_movie/{{ movie.id }}" method="POST" onsubmit="return validateUpdate()" >
            <h2>Update Book:</h2>
            <ul>                
                <li>Title <input type="text" name="title" value="{{ movie.title }}"></li>
                <li>Plot sumary <input type="text" name="plotsumary" value="{{ movie.plotsumary }}"></li>
                <li>Released date <input type="text" name="releaseddate" value="{{ movie.releaseddate }}"></li>
                <li>Main Actors<input type="text" name="mainactors" value="{{ movie.mainactors }}"></li>
                <li>Directors <input type="text" name="directors" value="{{ movie.directors }}"></li>
            </ul>
            <button type="submit" class="btn btn-primary">Move Update</button>
        </form>
    </body>
</html>